TrapServerClient/src/META-INF/wsdl/TrapService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.oamp.ict.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.oamp.ict.org/" name="TrapServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.oamp.ict.org/" schemaLocation="http://localhost:8080/oampmanager/TrapService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"></part>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"></part>
</message>
<message name="TrapServiceException">
<part name="fault" element="tns:TrapServiceException"></part>
</message>
<message name="getRegisteredElements">
<part name="parameters" element="tns:getRegisteredElements"></part>
</message>
<message name="getRegisteredElementsResponse">
<part name="parameters" element="tns:getRegisteredElementsResponse"></part>
</message>
<message name="getApplicationBaseURL">
<part name="parameters" element="tns:getApplicationBaseURL"></part>
</message>
<message name="getApplicationBaseURLResponse">
<part name="parameters" element="tns:getApplicationBaseURLResponse"></part>
</message>
<message name="getStatusDescription">
<part name="parameters" element="tns:getStatusDescription"></part>
</message>
<message name="getStatusDescriptionResponse">
<part name="parameters" element="tns:getStatusDescriptionResponse"></part>
</message>
<message name="startService">
<part name="parameters" element="tns:startService"></part>
</message>
<message name="startServiceResponse">
<part name="parameters" element="tns:startServiceResponse"></part>
</message>
<message name="stopService">
<part name="parameters" element="tns:stopService"></part>
</message>
<message name="stopServiceResponse">
<part name="parameters" element="tns:stopServiceResponse"></part>
</message>
<message name="getTrapDefinitions">
<part name="parameters" element="tns:getTrapDefinitions"></part>
</message>
<message name="getTrapDefinitionsResponse">
<part name="parameters" element="tns:getTrapDefinitionsResponse"></part>
</message>
<message name="getTrapDefinition">
<part name="parameters" element="tns:getTrapDefinition"></part>
</message>
<message name="getTrapDefinitionResponse">
<part name="parameters" element="tns:getTrapDefinitionResponse"></part>
</message>
<message name="addTrapDefinition">
<part name="parameters" element="tns:addTrapDefinition"></part>
</message>
<message name="addTrapDefinitionResponse">
<part name="parameters" element="tns:addTrapDefinitionResponse"></part>
</message>
<message name="editTrapDefinition">
<part name="parameters" element="tns:editTrapDefinition"></part>
</message>
<message name="editTrapDefinitionResponse">
<part name="parameters" element="tns:editTrapDefinitionResponse"></part>
</message>
<message name="deleteTrapDefinition">
<part name="parameters" element="tns:deleteTrapDefinition"></part>
</message>
<message name="deleteTrapDefinitionResponse">
<part name="parameters" element="tns:deleteTrapDefinitionResponse"></part>
</message>
<message name="getElapsedTime">
<part name="parameters" element="tns:getElapsedTime"></part>
</message>
<message name="getElapsedTimeResponse">
<part name="parameters" element="tns:getElapsedTimeResponse"></part>
</message>
<message name="getTablesList">
<part name="parameters" element="tns:getTablesList"></part>
</message>
<message name="getTablesListResponse">
<part name="parameters" element="tns:getTablesListResponse"></part>
</message>
<message name="getAvailableDataTypes">
<part name="parameters" element="tns:getAvailableDataTypes"></part>
</message>
<message name="getAvailableDataTypesResponse">
<part name="parameters" element="tns:getAvailableDataTypesResponse"></part>
</message>
<message name="getTableColumnsList">
<part name="parameters" element="tns:getTableColumnsList"></part>
</message>
<message name="getTableColumnsListResponse">
<part name="parameters" element="tns:getTableColumnsListResponse"></part>
</message>
<message name="getTrap">
<part name="parameters" element="tns:getTrap"></part>
</message>
<message name="getTrapResponse">
<part name="parameters" element="tns:getTrapResponse"></part>
</message>
<message name="getTrapBinding">
<part name="parameters" element="tns:getTrapBinding"></part>
</message>
<message name="getTrapBindingResponse">
<part name="parameters" element="tns:getTrapBindingResponse"></part>
</message>
<message name="updateVariables">
<part name="parameters" element="tns:updateVariables"></part>
</message>
<message name="updateVariablesResponse">
<part name="parameters" element="tns:updateVariablesResponse"></part>
</message>
<message name="setVariableValue">
<part name="parameters" element="tns:setVariableValue"></part>
</message>
<message name="setVariableValueResponse">
<part name="parameters" element="tns:setVariableValueResponse"></part>
</message>
<portType name="TrapService">
<operation name="getStatus">
<input message="tns:getStatus"></input>
<output message="tns:getStatusResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getRegisteredElements">
<input message="tns:getRegisteredElements"></input>
<output message="tns:getRegisteredElementsResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getApplicationBaseURL">
<input message="tns:getApplicationBaseURL"></input>
<output message="tns:getApplicationBaseURLResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getStatusDescription">
<input message="tns:getStatusDescription"></input>
<output message="tns:getStatusDescriptionResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="startService">
<input message="tns:startService"></input>
<output message="tns:startServiceResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="stopService">
<input message="tns:stopService"></input>
<output message="tns:stopServiceResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getTrapDefinitions">
<input message="tns:getTrapDefinitions"></input>
<output message="tns:getTrapDefinitionsResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getTrapDefinition">
<input message="tns:getTrapDefinition"></input>
<output message="tns:getTrapDefinitionResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="addTrapDefinition">
<input message="tns:addTrapDefinition"></input>
<output message="tns:addTrapDefinitionResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="editTrapDefinition">
<input message="tns:editTrapDefinition"></input>
<output message="tns:editTrapDefinitionResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="deleteTrapDefinition">
<input message="tns:deleteTrapDefinition"></input>
<output message="tns:deleteTrapDefinitionResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getElapsedTime">
<input message="tns:getElapsedTime"></input>
<output message="tns:getElapsedTimeResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getTablesList">
<input message="tns:getTablesList"></input>
<output message="tns:getTablesListResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getAvailableDataTypes">
<input message="tns:getAvailableDataTypes"></input>
<output message="tns:getAvailableDataTypesResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getTableColumnsList">
<input message="tns:getTableColumnsList"></input>
<output message="tns:getTableColumnsListResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getTrap">
<input message="tns:getTrap"></input>
<output message="tns:getTrapResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="getTrapBinding">
<input message="tns:getTrapBinding"></input>
<output message="tns:getTrapBindingResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="updateVariables">
<input message="tns:updateVariables"></input>
<output message="tns:updateVariablesResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
<operation name="setVariableValue">
<input message="tns:setVariableValue"></input>
<output message="tns:setVariableValueResponse"></output>
<fault message="tns:TrapServiceException" name="TrapServiceException"></fault>
</operation>
</portType>
<binding name="TrapServicePortBinding" type="tns:TrapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRegisteredElements">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getApplicationBaseURL">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getStatusDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="startService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="stopService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTrapDefinitions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTrapDefinition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addTrapDefinition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="editTrapDefinition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteTrapDefinition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getElapsedTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTablesList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAvailableDataTypes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTableColumnsList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTrap">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTrapBinding">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateVariables">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setVariableValue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TrapServiceException">
<soap:fault name="TrapServiceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="TrapServiceService">
<port name="TrapServicePort" binding="tns:TrapServicePortBinding">
<soap:address location="http://localhost:8080/oampmanager/TrapService"></soap:address>
</port>
</service>
</definitions>